html, body ,header,footer, #main{
    margin: 0;
  }
  
html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    font-size: 100%;
}

body {
    overflow: hidden; /* force l'encapsulation du contenu dans le body et cache les barres de défilement*/
    width: 100%;
    height: inherit;
    background-color: rgb(46, 46, 117);
}

header{
    background-color: rgb(27, 27, 73);
    position: absolute;
    top:0;
    width: 100%;
    height: 10%;
    padding: 0;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3%;
    background-color: rgb(156, 156, 156);
    color: rgb(66, 66, 66);
    font-size: unset
}

#textHead{
    margin: 0px;
    text-align: center;
    font-weight: bolder;
    color: white;
    font-size: 100%;
    top: 50%;
}

#textFoot{
    margin: 0px;
    text-align: center;
    font-style: italic;
    top: 50%;
}

.quizzBut {
    overflow: hidden;
    padding: 0%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(43, 153, 47);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-size: 5vw;
}
  
.quizzBut:active {
    background-color: #3e8e41;
    box-shadow: 0 0px #666;
    border:  5px solid white;
    transform: translateY(4px);
}

.button{
	width:80%;
    height:15%;
    font-size: xx-large;
	background-color: #3e8e41;
	font-weight: bold;
	border: 3px solid white;
    color:#fff;
    margin-bottom: 1%;
}

#page0{
    overflow: auto;
    position : absolute;
    top:10%;
    bottom: 3%;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    color: white;
    visibility: visible;

}

#Q{
    position: absolute;
    top:10%;
    width:90%;
    left : 5%;
    height: 15%;
    text-align: center;
    color: white;
    visibility: hidden;
}

#B1{
    height: 62%;
    width: 45.5%;
    position: absolute;
    top:30%;
    left: 3%;
    visibility: hidden;
}
#B2{
    height: 62%;
    width: 45.5%;
    position: absolute;
    top:30%;
    right : 3%;
    visibility: hidden;
}
#B3{
    height: 29.5%;
    width: 45.5%;
    position: absolute;
    top : 62.5%;
    left: 3%;
    visibility: hidden;
}
#B4{    
    height: 29.5%;
    width: 45.5%;
    position: absolute;
    top : 62.5%;
    right: 3%;
    visibility: hidden;
}
#B5{    
    height: 29.5%;
    width: 45.5%;
    position: absolute;
    top : 95%;
    right: 3%;
    visibility: hidden;
}
#B6{    
    height: 29.5%;
    width: 45.5%;
    position: absolute;
    top : 95%;
    right: 3%;
    visibility: hidden;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
}
   
legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
    color: white;
}
input{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: x-large;
    color: rgb(43, 153, 47);
}

#form{
    position : absolute;
    top:10%;
    bottom: 3%;
    width: 100%;
    text-align: center;
    visibility: hidden;
}
#form > form{
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    height: 15%;
}
#valider{
    position: absolute;
    top : 60%;
    left:10%;
    width:80%;
    height:15%;
    text-align: center;
    font-size: xx-large;
	background-color: #3e8e41;
	font-weight: bold;
	border: 3px solid white;
    color:#fff;
    margin-bottom: 1%;
}
